<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Aquarina Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind output -->
    <link href="/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>


<!-- ================= HEADER ================= -->
<header class="bg-white shadow-sm" th:fragment="navbar">
    <div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-4">
        <a href="/home"><h1 class="text-3xl font-semibold text-[var(--color-primary)]">Aquarina</h1></a>

        <nav class="space-x-10 text-sm font-medium text-gray-600">
            <a href="/home" class="hover:text-[#6995B1]">Home</a>
            <a href="/products/fish" class="hover:text-[#6995B1]">Fish</a>
            <a href="/contact" class="hover:text-[#6995B1]">Contact</a>
        </nav>

        <div class=" flex items-center space-x-3 text-sm">
            <a th:if="${currentUser == null}" th:href="@{/login}" class="hover:text-[var(--color-primary)]">Log In</a>
            <a  th:if="${currentUser != null}"
                  >Aloha
                <a th:href="@{/user/profile}" class="text-cyan-400" th:text="${currentUser.name}"></a>
            </a>
            <form th:if="${currentUser != null}" th:action="@{/logout}" method="post" >
                <button class= "cursor-pointer hover:text-[var(--color-primary)]" type="submit">
                    Log Out
                </button>
            </form>
            <a th:if="${currentUser == null}" th:href="@{/register}" class="hover:text-[var(--color-primary)]">Sign Up</a>

            <button th:if="${currentUser != null}"  id="cart-icon" class="px-5 py-2.5 bg-[var(--color-primary)] text-white rounded-full hover:opacity-90">
                Cart
            </button>



        </div>
    </div>

</header>
                            <!-- cart -->
<div th:fragment="cart" id="cart-modal"
     class="hidden fixed inset-0 bg-black/40 flex items-center justify-center z-50">

    <div class="bg-white w-[700px] rounded-xl shadow-xl p-6 relative">
        <div class="close-cart-button py-2">
            <button type="button" id="close-cart"
                    class="absolute top-3 right-3 text-gray-500 hover:text-black">
                ✕
            </button>
        </div>


        <div id="cart-modal-content">
            <!-- AJAX inject content -->
        </div>

    </div>

</div>
                            <!-- cart -->

                    <!-- Toast alert message -->

<div th:fragment="toast-message"
     id="toast-container"
     class="fixed top-5 right-5 z-60 hidden flex flex-col items-end space-y-2">

    <div id="toast-template"
         class="toast-item flex items-center w-full max-w-sm p-4 rounded-lg shadow border transition-all duration-300 animate-fadeIn hidden">

        <div class="inline-flex items-center justify-center w-7 h-7 rounded" id="toast-icon">
            <div id="icon-inject"></div>
        </div>

        <div class="ms-3 text-sm font-normal" id="toast-message"></div>

        <button type="button"
                class="hidden ms-auto text-gray-500 hover:text-gray-700 focus:outline-none toast-close">
            ✕
        </button>
    </div>

</div>
                    <!-- Toast alert message -->
</html>