<!-- common/user-edit.html -->
<div th:fragment="user-profile">

    <p class="font-bold text-center mb-4">Edit Your Info</p>

    <form id="user-edit-form" th:action="@{/user/profile/edit/saving}"   method="post">
        <input type="hidden" th:field="${customerDetail.id}">
        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name"
                   th:value="${customerDetail.getName()}"
                   th:field="${customerDetail.name}"
                   class="border w-full p-2 rounded">
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email"
                   th:value="${customerDetail.getEmail()}"
                   th:field="${customerDetail.email}"
                   class="border w-full p-2 rounded">
        </div>

        <div class="mb-3">
            <label>Phone</label>
            <input type="text" name="phone"
                   th:value="${customerDetail.getPhone()}"
                   th:field="${customerDetail.phone}"
                   class="border w-full p-2 rounded">
        </div>

        <div class="mb-3">
            <label>Address</label>
            <input type="text" name="address"
                   th:value="${customerDetail.getAddress()}"
                   th:field="${customerDetail.address}"
                   class="border w-full p-2 rounded">
        </div>
        <div class="flex justify-center">
            <button type="submit"
                    class="px-4 py-2 bg-blue-600 text-white rounded">
                Save
            </button>
        </div>


    </form>

</div>

<div th:fragment="user-profile-popup" id="user-info-modal"
     class="hidden fixed inset-0 bg-black/40 flex items-center justify-center z-50">

    <div class="bg-white w-[700px] rounded-xl shadow-xl p-6 relative">
        <div class="close-cart-button py-2">
            <button type="button" id="close-cart"
                    class="absolute top-3 right-3 text-gray-500 hover:text-black">
                ✕
            </button>
        </div>


        <div id="user-info-modal-content">
            <!-- AJAX inject content -->
        </div>

    </div>

</div>