<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/header :: head}">
    <title th:text="${category != null} ? ${category.label} + ' products' : 'Products'">Products</title>
</head>

<header th:replace="~{common/header :: navbar}"></header>
<div th:replace="~{common/header :: cart}"></div>
<div th:replace="~{common/header :: toast-message}"></div>

<body class="bg-[var(--color-bg)] text-gray-800">

<section class="max-w-7xl mx-auto px-6 py-12">
    <div class="flex items-baseline justify-between mb-8">
        <div>
            <h2 class="text-3xl font-bold"
                th:text="${category != null} ? ${category.label} : 'You are looking wrong category '">

            </h2>
        </div>

        <a href="/home"
           class=" text-base [#6995B1] hover:underline">
            ← Back to home
        </a>
    </div>

    <div th:if="${#lists.isEmpty(productPage)}" class="text-center py-16 text-gray-500">
        No products found in this category.
    </div>

    <div th:unless="${#lists.isEmpty(productPage)}"
         class="grid grid-cols-4 gap-8">

        <!--card-->
        <div class="bg-[#f9f7f3] rounded-2xl p-6 shadow-sm hover:shadow-md transition flex flex-col h-full"
             th:each="prod : ${productPage}">

            <img th:src="@{'/images/' + ${category.name()} + '/' + ${prod.productImage}}"
                 class="rounded-xl mb-4 h-48 w-full object-cover"
                 th:alt="${category.name()}"
            >

            <h4 class="font-semibold text-lg mb-2"
                th:text="${prod.productName}">Product name</h4>

            <div class="flex-1">
                <p class="text-sm text-gray-500 mb-4 line-clamp-2"
                   th:text="${prod.productDescription}">
                </p>
            </div>

            <div class="flex items-center justify-between mt-auto">
                <span class="font-bold text-[#6995B1]"
                      th:text="${prod.productPrice} + ' $'">
                </span>
                <form method="post" th:action="@{/cart/add}">
                    <button type="button" th:data-id="${prod.getId()}" class="add-to-cart-btn px-4 py-2 text-sm bg-[#6995B1] text-white rounded-full hover:opacity-90">
                        Add to cart
                    </button>
                </form>

            </div>
        </div>
        <!--    Pagination    -->
        <div class="mt-10 flex items-center justify-center gap-4 text-sm" th:if="${#lists.size(productPage.content) >= 8}">

            <!-- Previous -->



            <a th:if="${productPage.hasPrevious()}"
               th:href="@{/products/{slug}(slug=${categorySlug},
                               page=${currentPage - 1},
                               size=${productPage.size})}"
               class="px-4 py-2 rounded-full border border-gray-300 text-gray-700 hover:bg-gray-100">
                ← Previous
            </a>
            <span th:unless="${productPage.hasPrevious()}"
                  class="px-4 py-2 rounded-full border border-gray-200 text-gray-400 disabled:">
                ← Previous
            </span>

            <!-- Page info -->
            <span class="px-4 py-2 text-gray-600">
                Page <span th:text="${currentPage}"></span>
                of <span th:text="${productPage.totalPages}"></span>
            </span>

            <!-- Next -->
            <a th:if="${productPage.hasNext()}"
               th:href="@{/products/{slug}(slug=${categorySlug},
                               page=${currentPage +1},
                               size=${productPage.size})}"
               class="px-4 py-2 rounded-full border border-gray-300 text-gray-700 hover:bg-gray-100">
                Next →
            </a>
            <span th:unless="${productPage.hasNext()}"
                  class="px-4 py-2 rounded-full border border-gray-200 text-gray-400 disabled:">
                Next →
            </span>

        </div>


    </div>
</section>

<footer th:replace="~{common/footer :: footer}"></footer>

<script src="/js/cart-loading.js"></script>
</body>
</html>